<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Grid Example - Semantic</title>

    <link rel="stylesheet" type="text/css" href="../assets/lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.css">

</head>

<body>
    <div class="ui pointing menu">
        <a class="item" href="../index.html">Home</a>
        <a class="item active" href="card.html">Card</a>
        <a class="item" href="fetch.html">Fetch</a>
        <a class="item" href="addCard.html">Add card</a>
        <a class="item" href="searchCard.html">Search card</a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid center aligned" id="gridContainer">
                <template id="selectedCard">
                    <div class="ui card">
                        <div class="content">
                            <img class="ui avatar image" src="{{smallLogo}}"> {{cardName}}
                        </div>
                        <div class="image">
                            <img src="{{cardImage}}">
                        </div>
                        <div class="content">
                        <div class="description">
                            {{cardDescription}}
                        </div>
                        </div>
                        <div class="ui grid extra content">
                            <div class="two column row">
                                <a class="column center aligned">
                                    <i class="user icon"></i>
                                    {{hp}}
                                </a>
                                <a class="column center aligned">
                                    <i class="user icon"></i>
                                    {{energy}}
                                </a>
                            </div>
                            <div class="two column row">
                                <a class="column center aligned">
                                    <i class="user icon"></i>
                                    {{defence}}
                                </a>
                                <a class="column center aligned">
                                    <i class="user icon"></i>
                                    {{attack}}
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../assets/lib/jquery-3.3.1.min.js"></script>
    <script src="../assets/lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="../js/animation-custom.js"></script> 
    <script src="../js/card.js"></script> 

</body>
</html>