<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Grid Example - Semantic</title>

    <link rel="stylesheet" type="text/css" href="../assets/lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.css">
</head>
    
<body>
    <div class="ui pointing menu">
        <a class="item" href="../index.html">Home</a>
        <a class="item" href="card.html">Card</a>
        <a class="item" href="fetch.html">Fetch</a>
        <a class="item" href="addCard.html">Add card</a>
        <a class="item active" href="searchCard.html">Search card</a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui five column grid">
        <div class="row"></div>
        <div class="row">
            <div class="five column"></div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <form class="ui form" action="./getCard" method="GET" name="mySearch">
                <h3 class="ui dividing header">Select the Card Name to Search</h3>
                <div class="two fields">
                    <div class="field">
                        <label>Card Name</label>
                    </div>
                    <div class="field">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search..." name="search">
                            <i class="search link icon"  onclick="mySearch.submit();"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
    <!------------------------------------------------------------------------->
    <!--    ----------------------------- CARD ----------------------------- -->
    <!------------------------------------------------------------------------->

    <div class="ui five column grid">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <div class="ui special cards" id="cardContainer">
                <template id="selectedCard">
                    <div class="card">

                        <div class="content">
                            <img id="cardFamilyImgId" class="ui avatar image" src={{family_src}}> <span id="cardFamilyNameId">{{family_name}} </span>
                        </div>
                        <div class="image imageCard">
                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui primary button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <img id="cardImgId" class="ui centered tiny image" src={{img_src}}>
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui form tiny">
                                <div class="field">
                                    <label id="cardNameId">{{name}}</label>
                                    <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="5">{{description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="heart outline icon"></i><span id="cardHPId">{{hp}}</span> 
                            <div class="right floated ">
                                <i class="lightning outline icon"></i>
                                <span id="cardEnergyId">{{energy}}</span> 
                            </div>
                        </div>
                        <div class="content">
                            <span class="right floated">
                                <i class=" wizard icon"></i>
                                <span id="cardAttackId">{{attack}}</span> 
                            </span>
                            <i class="protect icon"></i>
                        <span id="cardDefenceId">{{defense}} </span> 
                        </div>

                    </div>
            </template>
            </div>
        </div>
    </div>
    <script src="../assets/lib/jquery-3.3.1.min.js"></script>
    <script src="../assets/lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="../js/searchCard.js"></script> 

</body>
</html>